ul,
li {
  list-style: none;
}

div {
  word-break:break-all;
}

img {
  width: 100%;
  height: auto;
}

.mgt10 {
  margin-top: 10px;
}

.mgt25 {
  margin-top: 25px;
}

.vux-1px-b::after {
  border-bottom: 1px solid #E5E5E5;
}

.vux-1px-t::before {
  border-top: 1px solid #E5E5E5;
}

input,
textarea {
  padding: 0 10px;
  background: #F2F2F2;
  border-radius: 3px;
  box-sizing: border-box;
}

.text-overflow-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.of-hide {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}